
    <div class="w-auto md:p-8 p-4">
        <!-- Inside Page -->

        <div
            class="w-full md:px-4 px-0 pb-8 pt-2 bg-white shadow-2 rounded-lg text-lg text-gray-600 font-medium"
            v-if="loaded==200"
        >
            <!-- Table Header -->
            <Single-Page-Header title="أضف طالب_قديم" url="/admin/oldstudent/" urlLabel="قائمة الطلاب_قدامى"></Single-Page-Header>
            <!-- End Table Header -->


            <!-- Grid -->
            <div class="bg-blue-600a grid lg:grid-cols-2 md:grid-cols-2">


                 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
الرقمـالإشاري
</div>

<input type='text' v-model='formData.index' v-on:change='validateIndex' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.index }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
رقمـالقيد
</div>

<input type='text' v-model='formData.std_number' v-on:change='validateStd_number' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.std_number }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
الاسم_الأول
</div>

<input type='text' v-model='formData.first_name' v-on:change='validateFirst_name' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.first_name }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
الاسم_الثاني
</div>

<input type='text' v-model='formData.second_name' v-on:change='validateSecond_name' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.second_name }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
الاسم_الثالث
</div>

<input type='text' v-model='formData.third_name' v-on:change='validateThird_name' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.third_name }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
اسم_العائلة
</div>

<input type='text' v-model='formData.family_name' v-on:change='validateFamily_name' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.family_name }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
سنة_التخرج
</div>

<input type='text' v-model='formData.graduation_year' v-on:change='validateGraduation_year' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.graduation_year }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
نوع_الشهادة
</div>

<input type='text' v-model='formData.certificate_type' v-on:change='validateCertificate_type' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.certificate_type }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
نسبة_التخرج
</div>

<input type='text' v-model='formData.graduation_degree' v-on:change='validateGraduation_degree' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.graduation_degree }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
تم_الحل
</div>

<input type='text' v-model='formData.is_solved' v-on:change='validateIs_solved' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.is_solved }}
</div>
</div>
 <!-- End Item -->

 <!-- Item -->
 <div class='w-full px-4 py-4  JF-Flat'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
مدير
</div>

<input type='text' v-model='formData.admin' v-on:change='validateAdmin' class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
<div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
{{ formValidate.admin }}
</div>
</div>
 <!-- End Item -->


        
                
            </div>
            <!-- Grid -->




                    <!-- Action Part -->
        <div class="flex items-center h-20 mx-4">
            <Btn-Submit-New-Item label="إضافة" :submit="addNewItem"></Btn-Submit-New-Item>
        </div>
        <!-- End Action Part -->
            
        </div>

        <Empty-Box
            v-if="loaded == 204"
            message="لا يوجد طالب_قديم بهذا الرقم"
        ></Empty-Box>

        <Bad-Request v-if="loaded==400" :reload="reload" :message="errorMessage"></Bad-Request>
        <No-Permission v-if="loaded==403" :message="errorMessage"></No-Permission>
        <No-Internet v-if="loaded==404" :reload="reload"></No-Internet>
    
        <!-- End Inside Page -->
    </div>
