
    <div class="w-auto md:p-8 p-4 JF-Flat">
        <!-- Inside Page -->

        <div class="w-full bg-white shadow-2 lg:px-8 md:px-6 px-4 py-4 ">
            <div
                class="text-2xl font-semibold text-gray-600 h-20 flex items-center justify-start border-b cairo"
            >
                {{ t.pageHeader }}
            </div>

            <!-- User Photo -->
            <div class="md:flex items-center my-8">
                <img
                    class="h-52 w-52 border md:mx-px mx-auto"
                    :src="user.photo"
                />

                <!-- Input File -->
                <div
                    class="h-16 w-32 bg-blue-200 md:mr-4 md:ml-0 md:my-0 mx-auto my-4"
                >
                    <input
                        type="file"
                        v-on:change="onChange"
                        class="cursor-pointer absolute block h-16 w-32 opacity-0 pin-r pin-t"
                    />
                    <span
                        class="ml-2 bg-blue-400 h-16 w-36 text-white flex items-center justify-center rounded shadow cursor-pointer hover:bg-blue-500 text-base"
                    >
                        <i class="fas fa-folder-plus text-xl"></i>
                        <div class="w-2"></div>
                        {{ t.choosePhoto}}
                        </span
                    >
                </div>
                <!-- End Input File -->
            </div>
            <div class="flex items-center h-20">
                <div
                    @click="changePhoto"
                    class=" rounded back-btn shadow px-12 h-12 w-auto flex items-center justify-center text-white text-lg cursor-pointer"
                >
                    {{t.save}}
                </div>
            </div>
            <!-- End User Photo -->

            <!-- User Information -->
            <div class=" border-b border-t">
                <div class="text-2xl text-gray-600 font-medium mt-12 cairo">
                    {{ t.personalInfo}}
                </div>
                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600 mb-6">
                        {{ t.firstName}}
                    </div>
                    <div class="16">
                        <input
                            type="text"
                            class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700"
                            v-on:change="validateFirstName"
                            v-model="formData.first_name"
                        />
                        <div class="w-2"></div>
                        <div
                            class="h-6 text-sm text-red-400 flex items-center"
                        >
                            {{ formValidate.first_name }}
                        </div>
                    </div>
                </div>

                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600 mb-6">
                        {{ t.lastName}}
                    </div>
                    <div class="16">
                        <input
                            type="text"
                            class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700"
                            v-on:change="validateLastName"
                            v-model="formData.last_name"
                        />
                        <div
                            class="h-6 text-sm text-red-400 mr-2 flex items-center"
                        >
                            {{ formValidate.last_name }}
                        </div>
                    </div>
                </div>

                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600">
                        {{ t.phone}}
                    </div>
                    <div
                        class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700 flex items-center bg-gray-100"
                    >
                        {{ user.phone }}
                    </div>
                </div>

                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600">
                        {{ t.role}}
                    </div>
                    <div
                        class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700 flex items-center bg-gray-100"
                    >
                        {{ user.role }}
                    </div>
                </div>




                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600">
                        {{ t.level}}
                    </div>
                    <div
                        class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700 flex items-center bg-gray-100"
                    >
                        {{ user.level==1?"الجامعة":user.level==2?"كلية":user.level==3?"قسم":"غير محدد" }}
                    </div>
                </div>


                <div class="mt-4 lg:h-16 lg:flex items-center" v-show="user.level>1">
                    <div class="md:w-48 h-8 text-lg text-gray-600">
                        {{ t.college}}
                    </div>
                    <div
                        class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700 flex items-center bg-gray-100"
                    >
                        {{ user.college_id }}
                    </div>
                </div>


                <div class="mt-4 lg:h-16 lg:flex items-center" v-show="user.level>2">
                    <div class="md:w-48 h-8 text-lg text-gray-600">
                        {{ t.department}}
                    </div>
                    <div
                        class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700 flex items-center bg-gray-100"
                    >
                        {{ user.department_id }}
                    </div>
                </div>

                <div class="flex items-center h-20">
                    <div
                        @click="changeName"
                        class="back-btn rounded shadow px-12 h-12 w-auto flex items-center justify-center text-white text-lg cursor-pointer"
                    >
                    {{t.save}}
                    </div>
                </div>
            </div>
            <!-- End User Information -->

            <!-- Change Password -->
            <div>
                <div class="text-2xl text-gray-600 font-medium mt-12 mb-6 cairo">
                    {{t.changePassword}}
                </div>
                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600 mb-6">
                    {{t.currentPassword}}
                        
                    </div>
                    <div class="16">
                        <input
                            type="password"
                            class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700"
                            v-on:change="validateOldPassword"
                            v-model="formData.old_password"
                        />
                        <div
                            class="h-6 text-sm text-red-400 mr-2 flex items-center"
                        >
                            {{ formValidate.old_password }}
                        </div>
                    </div>
                </div>

                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600 mb-6">
                        {{t.newPassword}}
                    </div>
                    <div class="16">
                        <input
                            type="password"
                            class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700"
                            v-on:change="validateNewPassword"
                            v-model="formData.new_password"
                        />
                        <div
                            class="h-6 text-sm text-red-400 mr-2 flex items-center"
                        >
                            {{ formValidate.new_password }}
                        </div>
                    </div>
                </div>

                <div class="mt-4 lg:h-16 lg:flex items-center">
                    <div class="md:w-48 h-8 text-lg text-gray-600 mb-6">
                        {{t.confirmPassword}}
                    </div>
                    <div class="16">
                        <input
                            type="password"
                            class="border rounded h-12 lg:w-96 w-full px-4 text-lg text-gray-700"
                            v-on:change="validateConfirmPassword"
                            v-model="formData.confirm_password"
                        />
                        <div
                            class="h-6 text-sm text-red-400 mr-2 flex items-center"
                        >
                            {{ formValidate.confirm_password }}
                        </div>
                    </div>
                </div>

                <div class="flex items-center h-20">
                    <div
                        @click="changePassword"
                        class="back-btn rounded shadow px-12 h-12 w-auto flex items-center justify-center text-white text-lg cursor-pointer"
                    >
                    {{t.save}}
                    </div>
                </div>
            </div>
            <!-- End Change Password -->
        </div>

        <!-- End Inside Page -->
    </div>
