<div class="w-auto md:p-8 p-4" id="0" @click="openOptions($event)">
    <!-- Inside Page -->

    <!-- List Header -->

    <div class="flex justify-between w-full h-16 items-center">
        <div class="text-2xl font-semibold cairo text-gray-600">
            قائمة البريدات_إلكترونية
        </div>
        <router-link v-show="$parent.$parent.checkPermission('CreateEmail') == true" to="/admin/email/new"
            class="rounded px-4 flex items-center cairo font-medium add-btn">
            <span class="h-12 flex items-center">
                <i class="fas fa-plus text-xl"></i>
             <p class="mr-3 md:block hidden">
                 أضف بريد_إلكتروني
             </p>  
            </span>
        </router-link>
    </div>

    <div class="flex justify-between my-8">
        <!-- Filter -->
        <div class="border rounded font-semibold cairo flex bg-center text-gray-700">


        </div>
        <!-- End felter -->
    </div>

    <!-- Search  -->
    <div class="flex flex-wrap pb-5 px-4 bg-white border rounded">


         <!-- Item -->
<div class='xl:w-1/4 lg:w-1/3 md:w-1/2 w-full px-2 mt-4'>
<div class='text-gray-400 text-sm cairo h-8 flex items-center mr-2'>معرف_المستخدم</div>
<input type='text' v-model='user_idSrh' placeholder='معرف_المستخدم' 
class='w-full h-12 border border-gray-300 rounded outline-green-600 cairo placeholder:text-sm px-4'>
</div>
 <!-- End Item -->

 <!-- Item -->
<div class='xl:w-1/4 lg:w-1/3 md:w-1/2 w-full px-2 mt-4'>
<div class='text-gray-400 text-sm cairo h-8 flex items-center mr-2'>البريد_الإلكتروني</div>
<input type='text' v-model='emailSrh' placeholder='البريد_الإلكتروني' 
class='w-full h-12 border border-gray-300 rounded outline-green-600 cairo placeholder:text-sm px-4'>
</div>
 <!-- End Item -->

 <!-- Item -->
<div class='xl:w-1/4 lg:w-1/3 md:w-1/2 w-full px-2 mt-4'>
<div class='text-gray-400 text-sm cairo h-8 flex items-center mr-2'>تم_الإنشاء</div>
<input type='text' v-model='is_createdSrh' placeholder='تم_الإنشاء' 
class='w-full h-12 border border-gray-300 rounded outline-green-600 cairo placeholder:text-sm px-4'>
</div>
 <!-- End Item -->

 <!-- Item -->
<div class='xl:w-1/4 lg:w-1/3 md:w-1/2 w-full px-2 mt-4'>
<div class='text-gray-400 text-sm cairo h-8 flex items-center mr-2'>إعادة_تعيين_كلمة_المرور</div>
<input type='text' v-model='reset_passwordSrh' placeholder='إعادة_تعيين_كلمة_المرور' 
class='w-full h-12 border border-gray-300 rounded outline-green-600 cairo placeholder:text-sm px-4'>
</div>
 <!-- End Item -->





        <!-- Search BTN -->
        <div class="xl:w-1/4 lg:w-1/3 md:w-1/2 px-2 mt-4 flex items-center justify-center">
            <div class="h-10 mt-8 shadow rounded w-28  add-btn flex items-center justify-center text-white cairo"
                @click="loadData(1)">
                بحث
            </div>
            <div class="h-10 mt-8 shadow-lg rounded w-24 bg-gray-400 mr-3 text-white cairo flex items-center justify-center"
                @click="clearSearch()">
                تصفير
            </div>
        </div>
        <!-- End Search BTN -->

    </div>
    <!-- End Search  -->
    <!-- End List Header -->

    <div v-if="loaded==200">

        <table class="w-full">
            <tr class="h-12 text-lg cairo font-semibold text-gray-600">
                <td class="w-12 text-center">#</td>
                <!-- <td class="sm:table-cell">إسم الدور</td>
                <td class="lg:table-cell hidden">عدد المشرفين</td> -->

                <td class='table-cell'>معرف_المستخدم</td><td class='table-cell'>البريد_الإلكتروني</td><td class='table-cell'>تم_الإنشاء</td><td class='table-cell'>إعادة_تعيين_كلمة_المرور</td>


                <td class="rounded-l-lg text-center">الإجراءات</td>
            </tr>

            <tr v-for="(item, index) in mainList" :key="index"
            class="h-24 bg-white shadow-2 rounded-lg text-base JF-Flat text-gray-500 font-medium hover:bg-gray-50">
            <td class="w-12 text-center rounded-r-lg">{{ item.id }}</td>

            <td class='table-cell'> {{item.user_id}}</td><td class='table-cell'> {{item.email}}</td><td class='table-cell'> {{item.is_created}}</td><td class='table-cell'> {{item.reset_password}}</td>


                <td class="rounded-l-lg h-20 flex items-center justify-center">

                    <div class="flex items-start justify-center mx-auto">
                        <i class="fas fa-ellipsis-v text-gray-500 text-xl px-4 flex pt-2 justify-center" @click="openOptions($event)"
                            :id="item.id"></i>
                        <div v-if="item.id==optionId"
                            class=" py-2 px-2 w-32 bg-white rounded-lg absolute text-gray-600 text-sm cairo"
                            style="box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) -20px 20px 40px -4px;">
                            <router-link :to="'/admin/email/' + item.id">

                                <div
                                    class="h-8 w-auto px-2 rounded-lg hover:bg-gray-100 flex items-center justify-start">
                                    <i class="fas fa-eye"></i>
                                    <div class="mr-2">
                                        عرض
                                    </div>
                                    <div></div>
                                </div>
                            </router-link>

                            <router-link :to="'/admin/email/' + item.id + '/edit'" v-show="$parent.$parent.checkPermission('EditEmail') == true">
                                <div
                                    class="h-8 w-auto px-2 rounded-lg hover:bg-gray-100 flex items-center justify-start">
                                    <i class="fas fa-edit"></i>
                                    <div class="mr-2">
                                        تعديل
                                    </div>
                                    <div></div>
                                </div>
                            </router-link>


                            


                            <div class=" h-px border border-dashed border-gray-200 w-full my-1"></div>
                            <div
                            v-show="$parent.$parent.checkPermission('DeleteEmail') == true"
                            @click="deleteMainItem(item.id)"
                                class="h-8 w-auto px-2 rounded-lg hover:bg-gray-100 flex items-center justify-start text-red-500">
                                <i class="far fa-trash-alt"></i>
                                <div class="mr-2">
                                    حذف
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <!-- Pagination -->
        <Pagination-Bar :itemTo="itemTo" :itemFrom="itemFrom" :totalRows="totalRows" :pageId="pageId" :lastPage="lastPage"
        :moveToNext="moveToNext" :moveToPrevius="moveToPrevius" :changePerPage="changePerPage"></Pagination-Bar>
    </div>


    <!--  -->
    <Empty-Box v-if="loaded==204"></Empty-Box>

    <Bad-Request v-if="loaded==400" :reload="reload" :message="errorMessage"></Bad-Request>
    <No-Permission v-if="loaded==403" :message="errorMessage"></No-Permission>
    <No-Internet v-if="loaded==404" :reload="reload"></No-Internet>


    <!-- End Inside Page -->
</div>
