
    <div class="w-auto md:p-8 p-4">
        <!-- Inside Page -->

        <div
            class="w-full md:px-4 px-0 pb-8 pt-2 bg-white shadow-2 rounded-lg text-lg text-gray-600 font-medium"
            v-if="loaded==200"
        >
            <!-- Table Header -->
            <Single-Page-Header title="بيانات الباقة" url="/admin/plan/" urlLabel="قائمة الباقات"></Single-Page-Header>
            <!-- End Table Header -->


            <!-- Grid -->
            <div class="bg-blue-600a grid lg:grid-cols-2 md:grid-cols-2 JF-Flat">

                
                 <!-- Item -->
<div class='w-full px-4 py-4'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
إسمـالباقة
</div>
<div class='h-12 rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
{{ mainItem.name }}
</div>
</div> <!-- End Item -->

 <!-- Item -->
<div class='w-full px-4 py-4'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
الكوتة
</div>
<div class='h-12 rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
{{ mainItem.qouta }}
</div>
</div> <!-- End Item -->

 <!-- Item -->
<div class='w-full px-4 py-4'>
<div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
السعر
</div>
<div class='h-12 rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
{{ mainItem.price }}
</div>
</div> <!-- End Item -->



            
                
            </div>
            <!-- Grid -->




            <!-- Btn Action -->
            <div
                class="w-full lg:h-20 mt-12 lg:flex items-center justify-start text-sm cairo"
            >

                <router-link
                    v-show="$parent.$parent.checkPermission('EditPlan') == true"
                    :to="'/admin/plan/' + $route.params.id + '/edit'"
                    class="h-12 px-6 mx-4 bg-gray-400 hover:bg-gray-500 flex items-center justify-center text-white shadow-lg rounded cursor-pointer"
                >
                    <i class="fa-solid fa-pen-to-square ml-2"></i>
                    تعديل 
                </router-link>



                <div
                v-show="$parent.$parent.checkPermission('DeletePlan') == true"
                @click="deleteMainItem"
                class="h-12 px-6 mx-4 my-2 bg-red-400 hover:bg-red-500 flex items-center justify-center text-white shadow-lg rounded cursor-pointer"
            >
                <i class="far fa-trash-alt ml-2"></i>
                حذف الباقة
            </div>


            </div>
            <!-- End Btn Action -->
        </div>

        <Empty-Box
            v-if="loaded == 204"
            message="لا يوجد دور بهذا الرقم"
        ></Empty-Box>
        <Bad-Request v-if="loaded==400" :reload="reload" :message="errorMessage"></Bad-Request>
        <No-Permission v-if="loaded==403" :message="errorMessage"></No-Permission>
        <No-Internet v-if="loaded==404" :reload="reload"></No-Internet>


        <!-- End Inside Page -->
    </div>
