<div class="w-auto md:p-8 p-4">
    <!-- Inside Page -->

    <div class="w-full md:px-4 px-0 pb-8 pt-2 bg-white shadow-2 rounded-lg text-lg text-gray-600 font-medium"
        v-if="loaded==200">
        <!-- Table Header -->
        <Single-Page-Header title="تعديل بيانات البانر" url="/admin/banner/"
            urlLabel="قائمة البانرات"></Single-Page-Header>
        <!-- End Table Header -->


        <img :src="mainItem.image" class="h-32 mx-auto my-20" alt="">


        <div class="flex items-center justify-center">
            <div v-show="formData.is_active==1" @click="formData.is_active=0"
                class="shadow-lg cursor-pointer h-10 w-28 text-sm text-green-700 flex items-center justify-center border border-green-700 rounded-lg JF-Flat bg-green-300">
                مفعل
            </div>
            <div v-show="formData.is_active==0" @click="formData.is_active=1"
                class="shadow-lg cursor-pointer h-10 w-28 text-sm text-red-700 flex items-center justify-center border border-red-700 rounded-lg JF-Flat bg-red-300">
                غير مفعل
            </div>
        </div>


        <!-- Grid -->
        <div class="bg-blue-600a grid lg:grid-cols-2 md:grid-cols-2">



            <!-- Item -->
            <div class='w-full px-4 py-4  JF-Flat'>
                <div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
                    نشط
                </div>

                <input type='text' v-model='formData.is_active' v-on:change='validateIs_active'
                    class='h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base'>
                <div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
                    {{ formValidate.is_active }}
                </div>
            </div>
            <!-- End Item -->







        </div>
        <!-- Grid -->



        <!-- Btn Action -->
        <div class="w-full lg:h-20 mt-12 lg:flex items-center justify-start text-sm cairo">



            <div @click="editMainItem"
                class="h-12 px-6 mx-4 my-2 bg-red-400 hover:bg-red-500 flex items-center justify-center text-white shadow-lg rounded cursor-pointer">
                <i class="fa-solid fa-check ml-2"></i>
                حفظ
            </div>


        </div>
        <!-- End Btn Action -->
    </div>

    <Empty-Box v-if="loaded == 204" message="لا يوجد بانر بهذا الرقم"></Empty-Box>

    <Bad-Request v-if="loaded==400" :reload="reload" :message="errorMessage"></Bad-Request>
    <No-Permission v-if="loaded==403" :message="errorMessage"></No-Permission>
    <No-Internet v-if="loaded==404" :reload="reload"></No-Internet>

    <!-- End Inside Page -->
</div>