<div class="w-auto md:p-8 p-4">
    <!-- Inside Page -->

    <div v-if="loaded == 200"
        class="w-full md:px-4 px-0 pb-8 pt-2 bg-white shadow-2 rounded-lg text-lg text-gray-600 font-medium">
        <!-- Table Header -->
        <Single-Page-Header title="أضف مشرف" url="/admin/admin/" urlLabel="قائمة المشرفين"></Single-Page-Header>
        <!-- End Table Header -->

        <!-- Grid -->
        <div class="bg-blue-600a grid lg:grid-cols-2">
            <!-- Item -->
            <div class="w-full px-4 py-4">
                <div
                class="h-9 flex JF-Flat items-center text-gray-500 mr-2 text-sm"
            >
                الإسم
            </div>
                <input v-model="formData.first_name" v-on:change="validateFirstName"
                    class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat" />
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.firstName }}
                </div>
            </div>
            <!-- Item -->

            <!-- Item -->
            <div class="w-full px-4 py-4">
                <div class="h-9 JF-Flat flex items-center text-gray-500 mr-2 text-sm">
                    اللقب
                </div>
                <input v-model="formData.last_name" v-on:change="validateLastName"
                class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat" />
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.lastName }}
                </div>
            </div>
            <!-- Item -->

            <!-- Item -->
            <div class="w-full px-4 py-4">
                <div class="h-9 JF-Flat flex items-center text-gray-500 mr-2 text-sm">
            رقم الهاتف
                </div>
                <input v-model="formData.phone" v-on:change="validatePhone"
                class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat" />
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.phone }}
                </div>
            </div>
            <!-- Item -->

            <!-- Item -->
            <div class="w-full px-4 py-4">
                <div class="h-9 JF-Flat flex items-center text-gray-500 mr-2 text-sm">
                    دور المشرف
                </div>
                <select v-model="formData.role_id" v-on:change="validateRole"
                    class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat">
                    <option v-for="(item, index) in roleList" :key="index" :value="item.id">{{ item.name }}</option>
                </select>
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.role }}
                </div>
            </div>
            <!-- Item -->


            <!-- Item -->
            <div class="w-full px-4 py-4">
                <div class="h-9 JF-Flat flex items-center text-gray-500 mr-2 text-sm">
                    كلمة المرور
                </div>
                <input v-model="formData.password" v-on:change="validatePassword"
                class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat" />
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.password }}
                </div>
            </div>
            <!-- Item -->

            <!-- Item -->
            <div class="w-full px-4 py-4">
                <div class="h-9 JF-Flat flex items-center text-gray-500 mr-2 text-sm">
                    تأكيد كلمة المرور
                </div>
                <input v-model="formData.confirmPassword" v-on:change="validateConfirmPassword"
                class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat" />
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.confirmPassword }}
                </div>
            </div>
            <!-- Item -->

            <!-- Item -->
            <div class='w-full px-4 py-4  JF-Flat'>
                <div class='h-9 flex items-center text-gray-500 mr-2 text-sm'>
                    نوع الحساب
                </div>
                <select v-model="formData.level" v-on:change="validateLevel"
                    class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat">
                    <option value="1">الجامعة</option>
                    <option value="2">كلية</option>
                    <option value="3">قسم</option>
                </select>

                <div class='h-8 text-xs text-red-400 mr-2 flex items-center'>
                    {{ formValidate.level }}
                </div>
            </div>
            <!-- End Item -->

            


            <!-- Item -->
            <div class="w-full px-4 py-4" v-if="formData.level>1">
                <div class="h-9 JF-Flat flex items-center text-gray-500 mr-2 text-sm">
                    الكلية
                </div>
                <select v-model="formData.college" v-on:change="validateCollege"
                    class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat">
                    <option v-for="(item, index) in college" :key="index" :value="item.Faculty_no">{{ item.Faculty_name
                        }}
                    </option>
                </select>
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.college }}
                </div>
            </div>
            <!-- Item -->

            <!-- Item -->
            <div class="w-full px-4 py-4" v-if="formData.level>2">
                <div class="h-9 JF-Flat flex items-center text-gray-500 mr-2 text-sm">
                    القسم
                </div>

                <select v-model="formData.department" v-on:change="validateDepartment"
                    class="h-12 w-full rounded border border-gray-200 bg-gray-50 flex items-center px-4 text-base JF-Flat">
                    <option v-for="(item, index) in department" :key="index" :value="item.dep_no"
                        v-if="item.Faculty_no === formData.college">{{ item.dep_name }}
                    </option>
                </select>
                <div class="h-8 JF-Flat text-sm text-red-400 mr-2 flex items-center">
                    {{ formValidate.department }}
                </div>
            </div>
            <!-- Item -->





        </div>
        <!-- Grid -->

        <!-- Action Part -->
        <div class="flex items-center h-20 mx-4">
            <Btn-Submit-New-Item label="إضافة" :submit="addNewItem"></Btn-Submit-New-Item>
        </div>
        <!-- End Action Part -->
    </div>

    <Empty-Box v-if="loaded == 204"
        message="لم نتمكن من جلب بيانات الأدوار, تأكد من أنك تمتلك صلاحية مشاهدة أدوار الصفحة"></Empty-Box>

        <Bad-Request v-if="loaded==400" :reload="reload" :message="errorMessage"></Bad-Request>
        <No-Permission v-if="loaded==403" :message="errorMessage"></No-Permission>
        <No-Internet v-if="loaded==404" :reload="reload"></No-Internet>


    <!-- End Inside Page -->
</div>